# Copyright Valve Corporation, All rights reserved.

# Defines the Chromium style for automatic reformatting.
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
# This defaults to 'Auto'. Explicitly set it for a while, so that
# 'vector<vector<int> >' in existing files gets formatted to
# 'vector<vector<int>>'. ('Auto' means that clang-format will only use
# 'int>>' if the file already contains at least one such instance.)
Standard: Cpp11

# Includes order matters
SortIncludes: false

# Make sure code like:
# IPC_BEGIN_MESSAGE_MAP()
#   IPC_MESSAGE_HANDLER(WidgetHostViewHost_Update, OnUpdate)
# IPC_END_MESSAGE_MAP()
# gets correctly indented.
MacroBlockBegin: "^\
BEGIN_.*(.*)|\
MSL_FOREACH_GROUP_BEGIN|\
MSL_FOREACH_SURFACE_BEGIN|\
MSL_FOREACH_SURFACE_IN_GROUP_BEGIN|\
BEGIN_MESSAGE_MAP\
$"
MacroBlockEnd: "^\
END_.*()|\
MSL_FOREACH_GROUP_END|\
MSL_FOREACH_SURFACE_END|\
MSL_FOREACH_SURFACE_IN_GROUP_END|\
END_MESSAGE_MAP\
$"
