[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = git@github.com:ValveSoftware/openvr.git
[submodule "thirdparty/protobuf-2.6.1"]
	path = thirdparty/protobuf-2.6.1
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "thirdparty/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = git@github.com:madler/zlib.git
[submodule "thirdparty/sdl2"]
	path = thirdparty/sdl2
	url = git@github.com:libsdl-org/SDL.git
[submodule "thirdparty/bzip2"]
	path = thirdparty/bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
