[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = git@github.com:ValveSoftware/openvr.git
[submodule "thirdparty/protobuf-2.6.1"]
	path = thirdparty/protobuf-2.6.1
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "thirdparty/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
