name: 'Build'

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  HL2_SOLUTION_NAME: hl2
  HL2_LOASTCOAST_SOLUTION_NAME: loastcoast
  HL2_EPISODIC_SOLUTION_NAME: episodic
  HL2_DEATHMATCH_SOLUTION_NAME: hl2mp
  PORTAL_SOLUTION_NAME: portal

permissions:
  contents: read

jobs:
  build_hl2:
    name: 'Build Half-Life 2'
    runs-on: windows-2025-vs2026
    strategy:
      matrix:
        platform: [x86, x64]
        configuration: [Debug, Release]

    steps:
    - name: 'Checkout Half-Life 2 repo & submodules'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: 'Setup & build'
      uses: ./.github/actions/build-shared
      with:
        platform-name: ${{matrix.platform}}
        configuration-name: ${{matrix.configuration}}
        solution-name: ${{env.HL2_SOLUTION_NAME}}

  build_hl2_loastcoast:
    name: 'Build Half-Life 2: Loast Coast'
    runs-on: windows-2025-vs2026
    strategy:
      matrix:
        platform: [x86, x64]
        configuration: [Debug, Release]

    steps:
    - name: 'Checkout Half-Life 2: Loast Coast repo & submodules'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: 'Setup & build'
      uses: ./.github/actions/build-shared
      with:
        platform-name: ${{matrix.platform}}
        configuration-name: ${{matrix.configuration}}
        solution-name: ${{env.HL2_LOASTCOAST_SOLUTION_NAME}}

  build_hl2_episodic:
    name: 'Build Half-Life 2: Episode 1 & 2'
    runs-on: windows-2025-vs2026
    strategy:
      matrix:
        platform: [x86, x64]
        configuration: [Debug, Release]

    steps:
    - name: 'Checkout Half-Life 2: Episode 1 & 2 repo & submodules'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: 'Setup & build'
      uses: ./.github/actions/build-shared
      with:
        platform-name: ${{matrix.platform}}
        configuration-name: ${{matrix.configuration}}
        solution-name: ${{env.HL2_EPISODIC_SOLUTION_NAME}}

  build_hl2_deathmatch:
    name: 'Build Half-Life 2: Deathmatch'
    runs-on: windows-2025-vs2026
    strategy:
      matrix:
        platform: [x86, x64]
        configuration: [Debug, Release]

    steps:
    - name: 'Checkout Half-Life 2: Deathmatch repo & submodules'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: 'Setup & build'
      uses: ./.github/actions/build-shared
      with:
        platform-name: ${{matrix.platform}}
        configuration-name: ${{matrix.configuration}}
        solution-name: ${{env.HL2_DEATHMATCH_SOLUTION_NAME}}

  build_portal:
    name: 'Build Portal'
    runs-on: windows-2025-vs2026
    strategy:
      matrix:
        platform: [x86, x64]
        configuration: [Debug, Release]

    steps:
    - name: 'Checkout Portal repo & submodules'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: 'Setup & build'
      uses: ./.github/actions/build-shared
      with:
        platform-name: ${{matrix.platform}}
        configuration-name: ${{matrix.configuration}}
        solution-name: ${{env.PORTAL_SOLUTION_NAME}}
